@import "tailwindcss";
/* @import "tailwindcss/preflight" */
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
 --color-bgcolor1: #0F172A;
 --color-bgcolor2: #1E3A8A;
 --color-bgcolor3: #F43F5E;
 --color-emphasisAndLinks: #38BDF8;
 --color-alertAndAnimation: #FB7185;
 --color-textMain: #E2E8F0;
 --color-secondEmpashisAndDescription: #94A3B8;
}

p {
  color:var(--color-secondEmpashisAndDescription);
}